<link href="assets/js/footable/css/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css">
<link href="assets/js/footable/css/footable.standalone.css" rel="stylesheet" type="text/css">
<link href="assets/js/footable/css/footable-demos.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="assets/js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css">
<link rel="stylesheet" href="assets/js/dataTable/css/datatables.responsive.css">
<!-- BREADCRUMB -->
<ul id="breadcrumb">
    <li><span class="entypo-home"></span></li>
    <li><i class="fa fa-lg fa-angle-right"></i></li>
    <li><a href="#">管理员</a></li>
    <li><i class="fa fa-lg fa-angle-right"></i></li>
    <li><a href="#">管理员列表</a></li>
    <li class="pull-right">
        <div class="input-group input-widget">
            <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
        </div>
    </li>
</ul>
<!-- END OF BREADCRUMB -->
<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest" id="FootableClose2">
                <div class="title-alt">
                    <h6>管理员列表</h6>

                    <div class="titleClose">
                        <a class="gone" href="#FootableClose2">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#Footable2">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="Footable2">
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-sm-4">
                            <input class="form-control" id="filter" placeholder="Search..." type="text">
                        </div>
                        <div class="col-sm-2">
                            <select class="filter-status form-control">
                                <option value="active">超级管理员
                                <option value="disabled">会员
                                <option value="suspended">普通管理员
                            </select>
                        </div>
                        <div class="col-sm-6">

                            <a href="#" style="margin-left:10px;" class="pull-right btn btn-info clear-filter"
                               title="保存">保存</a>
                            <a href="#" class="pull-right btn btn-info filter-api" title="添加">添加</a>

                        </div>

                    </div>
                    <table id="footable-res2" class="demo" data-filter="#filter" data-page-size="6"
                           data-filter-text-only="true">
                        <thead>
                        <tr>
                            <th data-toggle="true">
                                姓名
                            </th>
                            <th>
                                角色
                            </th>
                            <th data-hide="phone,tablet">
                                Tel
                            </th>
                            <th data-hide="phone,tablet">
                                Email
                            </th>
                            <!--<th data-hide="phone">-->
                            <th>
                                是否为管理员
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>邓东</td>
                            <td>超级管理员</td>
                            <td>123243241</td>
                            <td data-value="78025368997">412341234124</td>
                            <td data-value="1">
                                <span class="status-metro status-active" title="Active">是</span>
                                <span class="status-metro status-disabled" title="Active">不是</span>
                            </td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <div class="pagination pagination-centered"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/toggle_close.js" type="text/javascript"></script>
<script src="assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
<script src="assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script>
<script src="assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
<script src="assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
<script src="assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $('.footable-res').footable();
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#footable-res2').footable().bind('footable_filtering', function (e) {
            var selected = $('.filter-status').find(':selected').text();
            if (selected && selected.length > 0) {
                e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
                e.clear = !e.filter;
            }
        });

        $('.clear-filter').click(function (e) {
            e.preventDefault();
            $('.filter-status').val('');
            $('table.demo').trigger('footable_clear_filter');
        });

        $('.filter-status').change(function (e) {
            e.preventDefault();
            $('table.demo').trigger('footable_filter', {
                filter: $('#filter').val()
            });
        });

        $('.filter-api').click(function (e) {
            e.preventDefault();

            //get the footable filter object
            var footableFilter = $('table').data('footable-filter');

            alert('about to filter table by "tech"');
            //filter by 'tech'
            footableFilter.filter('tech');

            //clear the filter
            if (confirm('clear filter now?')) {
                footableFilter.clearFilter();
            }
        });
    });
</script>