<link href="assets/js/iCheck/flat/all.css" rel="stylesheet">
<link href="assets/js/iCheck/line/all.css" rel="stylesheet">
<link href="assets/js/colorPicker/bootstrap-colorpicker.css" rel="stylesheet">
<link href="assets/js/switch/bootstrap-switch.css" rel="stylesheet">
<link href="assets/js/validate/validate.css" rel="stylesheet">
<link href="assets/js/idealform/css/jquery.idealforms.css" rel="stylesheet">
<link rel="stylesheet" href="assets/js/upload/demos/css/uploader.css">
<link rel="stylesheet" href="assets/js/upload/demos/css/demo.css">
<link rel="stylesheet" href="assets/js/dropZone/downloads/css/dropzone.css">
<link rel="stylesheet" href="assets/js/timepicker/bootstrap-timepicker.css">
<link rel="stylesheet" href="assets/js/datepicker/datepicker.css">
<link rel="stylesheet" href="assets/js/datepicker/clockface.css">
<link rel="stylesheet" href="assets/js/datepicker/bootstrap-datetimepicker.css">

<link rel="stylesheet" type="text/css" href="assets/js/tag/jquery.tagsinput.css">

<link rel="stylesheet" href="assets/css/itattoo/haolou-main.css">

<!-- BREADCRUMB -->
<ul id="breadcrumb">
    <li><span class="entypo-home"></span></li>
    <li><i class="fa fa-lg fa-angle-right"></i></li>
    <li><a href="#">广告</a></li>
    <li><i class="fa fa-lg fa-angle-right"></i></li>
    <li><a href="#">编辑广告</a></li>
    <li class="pull-right">
        <div class="input-group input-widget">
            <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
        </div>
    </li>
</ul>
<!-- END OF BREADCRUMB -->
<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest" id="FootableClose3">
                <div class="title-alt">
                    <h6>编辑广告</h6>

                    <div class="titleClose">
                        <a class="gone" href="#FootableClose3">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#Footable3">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>

                <div class="body-nest" id="Footable3">
                    <div class="panel-body">
                        <form method="get" class="form-horizontal bucket-form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">广告标题</label>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">图片大小</label>

                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option value="100*100">100*100</option>
                                        <option value="1000*800">1000*800</option>
                                        <option value="。。。">。。。</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">投放位置</label>

                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="。。。">。。。</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">价格</label>

                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option value="1000/天">1000/天</option>
                                        <option value="5000/天">5000/天</option>
                                        <option value="。。。">。。。</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">物料</label>

                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="uploader">
                                                <div class="browser">
                                                    <label>
                                                        <span>上传</span>
                                                        <input type="file" name="files[]" multiple="multiple"
                                                               title="Click to add Files">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <span>这里只有一张图片。以下为两种状态(正式环境下请删除此行文字)</span>
                                        </div>
                                    </div>
                                    <ul class="img-update row">
                                        <li class="col-sm-6">
                                            <img class="img-responsive-media"
                                                 src="http://lorempixel.com/output/food-q-c-600-300-9.jpg" alt="">

                                            <div class="progress update-progress hidden">
                                                <div class="progress-bar progress-bar-success" role="progressbar"
                                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 40%">
                                                    40%
                                                </div>
                                            </div>
                                            <div class="update-progress">
                                                <ul class="img-update row">
                                                    <li class="col-sm-3" style="padding: 10px"><a href="#"><span
                                                            class="icon icon-arrow-left"></span></a></li>
                                                    <li class="col-sm-3"><a href="#"><span
                                                            class="icon icon-download"></span></a></li>
                                                    <li class="col-sm-3"><a href="#"><span
                                                            class="icon icon-trash"></span></a></li>
                                                    <li class="col-sm-3"><a href="#"><span
                                                            class="icon icon-arrow-right"></span></a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <img class="img-responsive-media"
                                                 src="http://lorempixel.com/output/food-q-c-600-300-9.jpg" alt="">

                                            <div class="progress update-progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar"
                                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 40%">
                                                    40%
                                                </div>
                                            </div>
                                            <div class="update-progress hidden">
                                                <ul class="img-update row">
                                                    <li class="col-sm-3" style="padding: 10px"><a href="#"><span
                                                            class="icon icon-arrow-left"></span></a></li>
                                                    <li class="col-sm-3"><a href="#"><span
                                                            class="icon icon-download"></span></a></li>
                                                    <li class="col-sm-3"><a href="#"><span
                                                            class="icon icon-trash"></span></a></li>
                                                    <li class="col-sm-3"><a href="#"><span
                                                            class="icon icon-arrow-right"></span></a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">开始时间</label>

                                <div class="col-sm-6">
                                    <div data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="12-02-2012"
                                         id="dpYears1" class="input-group date">

                                        <input type="text" value="12-02-2012" class="form-control" id="ssn1">
                                        <span class="input-group-addon add-on entypo-calendar "></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">结束时间</label>

                                <div class="col-sm-6">
                                    <div data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="12-12-2012"
                                         id="dpYears2" class="input-group date">

                                        <input type="text" value="12-12-2012" class="form-control" id="ssn2">
                                        <span class="input-group-addon add-on entypo-calendar "></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-lg-push-4">
                                    <button class="btn btn-info" style="border-radius: 2px;width: 100%;height: 29px;"
                                            type="button">保存
                                    </button>
                                </div>
                                <div class="col-sm-2 col-lg-push-4">
                                    <button class="btn"
                                            style="border-radius: 2px;width: 100%;height: 29px;background-color: #585858"
                                            type="button">取消
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="assets/js/iCheck/jquery.icheck.js"></script>
<script type="text/javascript" src="assets/js/switch/bootstrap-switch.js"></script>
<!--  PLUGIN -->
<script>
    $(document).ready(function () {
        //CHECKBOX PRETTYFY
        $('.skin-flat input').iCheck({
            checkboxClass: 'icheckbox_flat-red',
            radioClass: 'iradio_flat-red'
        });
        $('.skin-line input').each(function () {
            var self = $(this),
                    label = self.next(),
                    label_text = label.text();
            label.remove();
            self.iCheck({
                checkboxClass: 'icheckbox_line-blue',
                radioClass: 'iradio_line-blue',
                insert: '<div class="icheck_line-icon"></div>' + label_text
            });
        });
        //Switch Button
        $('.make-switch').bootstrapSwitch('setSizeClass', 'switch-small');
    });
</script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script type="text/javascript" src="assets/js/upload/demos/js/demo.min.js"></script>
<script type="text/javascript" src="assets/js/upload/src/dmuploader.min.js"></script>

<script src="assets/js/dropZone/lib/dropzone.js"></script>

<script type="text/javascript">
    $('#drag-and-drop-zone').dmUploader({
        url: '/assets/js/upload/demos/upload.php',
        dataType: 'json',
        allowedTypes: 'image/*',
        /*extFilter: 'jpg;png;gif',*/
        onInit: function () {
            $.danidemo.addLog('#demo-debug', 'default', 'Plugin initialized correctly');
        },
        onBeforeUpload: function (id) {
            $.danidemo.addLog('#demo-debug', 'default', 'Starting the upload of #' + id);
            $.danidemo.updateFileStatus(id, 'default', 'Uploading...');
        },
        onNewFile: function (id, file) {
            $.danidemo.addFile('#demo-files', id, file);
        },
        onComplete: function () {
            $.danidemo.addLog('#demo-debug', 'default', 'All pending tranfers completed');
        },
        onUploadProgress: function (id, percent) {
            var percentStr = percent + '%';
            $.danidemo.updateFileProgress(id, percentStr);
        },
        onUploadSuccess: function (id, data) {
            $.danidemo.addLog('#demo-debug', 'success', 'Upload of file #' + id + ' completed');
            $.danidemo.addLog('#demo-debug', 'info', 'Server Response for file #' + id + ': ' + JSON.stringify(data));
            $.danidemo.updateFileStatus(id, 'success', 'Upload Complete');
            $.danidemo.updateFileProgress(id, '100%');
        },
        onUploadError: function (id, message) {
            $.danidemo.updateFileStatus(id, 'error', message);
            $.danidemo.addLog('#demo-debug', 'error', 'Failed to Upload file #' + id + ': ' + message);
        },
        onFileTypeError: function (file) {
            $.danidemo.addLog('#demo-debug', 'error', 'File /'
            ' + file.name + ' / ' cannot be added: must be an image'
            )
            ;
        },
        onFileSizeError: function (file) {
            $.danidemo.addLog('#demo-debug', 'error', 'File /'
            ' + file.name + ' / ' cannot be added: size excess limit'
            )
            ;
        },
        /*onFileExtError: function(file){
         $.danidemo.addLog('#demo-debug', 'error', 'File /'' + file.name + '/' has a Not Allowed Extension');
         },*/
        onFallbackMode: function (message) {
            $.danidemo.addLog('#demo-debug', 'info', 'Browser not supported(do something else here!): ' + message);
        }
    });
</script>

<script>
    Dropzone.options.myDropzone = {
        // Prevents Dropzone from uploading dropped files immediately
        autoProcessQueue: false,
        init: function () {
            var submitButton = document.querySelector("#submit-all")
            myDropzone = this; // closure
            submitButton.addEventListener("click", function () {
                myDropzone.processQueue(); // Tell Dropzone to process all queued files.
            });
            // You might want to show the submit button only when
            // files are dropped here:
            this.on("addedfile", function () {
                // Show submit button here and/or inform user to click it.
            });
        }
    };
</script>
<script type="text/javascript" src="assets/js/colorPicker/bootstrap-colorpicker.min.js"></script>
<script type="text/javascript" src="assets/js/inputMask/jquery.maskedinput.js"></script>
<script type="text/javascript" src="assets/js/switch/bootstrap-switch.js"></script>
<script type="text/javascript" src="assets/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="assets/js/idealform/jquery.idealforms.js"></script>
<script type="text/javascript" src="assets/js/timepicker/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="assets/js/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="assets/js/datepicker/clockface.js"></script>
<script type="text/javascript" src="assets/js/datepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="assets/js/tag/jquery.tagsinput.js"></script>

<script type="text/javascript">
    $('#dpYears1').datepicker();
    $('#dpYears2').datepicker();
    $('#t1').clockface();
    $('#t2').clockface({
        format: 'HH:mm',
        trigger: 'manual'
    });
    $('#toggle-btn').click(function (e) {
        e.stopPropagation();
        $('#t2').clockface('toggle');
    });
</script>
<script>
    $(document).ready(function () {
        //Validation
        $('#contact-form').validate({
            rules: {
                name: {
                    minlength: 2,
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                subject: {
                    minlength: 2,
                    required: true
                },
                message: {
                    minlength: 2,
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.control-group').removeClass('success').addClass('error');
            },
            success: function (element) {
                element
                        .text('OK!').addClass('valid')
                        .closest('.control-group').removeClass('error').addClass('success');
            }
        });
        // MASKED INPUT
        $("#date").mask("99/99/9999", {
            completed: function () {
                alert("Your birthday was: " + this.val());
            }
        });
        $("#phone").mask("(999) 999-9999");
        $("#money").mask("99.999.9999", {
            placeholder: "*"
        });
        $("#ssn").mask("99--AAA--9999", {
            placeholder: "*"
        });
        //COLOR PICKER
        window.prettyPrint && prettyPrint();
        // Code for those demos
        var _createColorpickers = function () {
            $('#cp1').colorpicker({
                format: 'hex'
            });
            $('#cp2').colorpicker();
            $('#cp3').colorpicker();
            var bodyStyle = $('body')[0].style;
            $('#cp4').colorpicker().on('changeColor', function (ev) {
                bodyStyle.backgroundColor = ev.color.toHex();
            });
        };
        _createColorpickers();
        $('.bscp-destroy').click(function (e) {
            e.preventDefault();
            $('.bscp').colorpicker('destroy');
        });
        $('.bscp-create').click(function (e) {
            e.preventDefault();
            _createColorpickers();
        });
    });
</script>
<script type="text/javascript">
    function onAddTag(tag) {
        alert("Added a tag: " + tag);
    }

    function onRemoveTag(tag) {
        alert("Removed a tag: " + tag);
    }

    function onChangeTag(input, tag) {
        alert("Changed a tag: " + tag);
    }
    $(function () {
        $('#tags_1').tagsInput({
            width: 'auto'
        });
        $('#tags_2').tagsInput({
            width: 'auto',
            onChange: function (elem, elem_tags) {
                var languages = ['php', 'ruby', 'javascript'];
                $('.tag', elem_tags).each(function () {
                    if ($(this).text().search(new RegExp('//b(' + languages.join('|') + ')//b')) >= 0)
                        $(this).css('background-color', '#FBB44C');
                });
            }
        });
        $('#tags_3').tagsInput({
            width: 'auto',
            autocomplete_url: 'test/fake_json_endpoint.html'
        });
    });
</script>