<link rel="stylesheet" href="assets/css/profile.css">
<style>
    span.social-profile i{
        transition: color .5s linear;
    }
    span.social-profile i:hover{
        color: orangered;
        transition: color .5s linear;
    }
</style>
<!-- BREADCRUMB -->
<ul id="breadcrumb">
    <li><span class="entypo-home"></span></li>
    <li><i class="fa fa-lg fa-angle-right"></i></li>
    <li><a href="#">管理员</a></li>
    <li><i class="fa fa-lg fa-angle-right"></i></li>
    <li><a href="#">个人信息</a></li>
    <li class="pull-right">
        <div class="input-group input-widget">
            <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
        </div>
    </li>
</ul>
<!-- END OF BREADCRUMB -->
<div class="content-wrap">
    <div class="row">
        <!--<div class="col-sm-12">-->
        <!--<div class="well profile">-->
        <div class="col-sm-12 profile">
            <div class="col-xs-12 col-sm-4 text-center">
                <ul class="list-group">
                    <li class="list-group-item text-left">
                        <span class="entypo-user"></span>&nbsp;&nbsp;Profile
                    </li>
                    <li class="list-group-item text-center">
                        <img src="http://api.randomuser.me/portraits/men/10.jpg" alt=""
                             class="img-circle img-responsive img-profile">

                    </li>
                    <li class="list-group-item text-center">
                        <span class="pull-left">
                            <strong>Ratings</strong>
                        </span>

                        <div class="ratings">

                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star-o"></span>
                            </a>

                        </div>


                    </li>

                    <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>入职时间</strong>
                                            </span>2.13.2014
                    </li>
                    <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>职位</strong>
                                            </span>CEO
                    </li>
                    <li class="list-group-item text-right">
                                            <span class="pull-left">
                                                <strong>公司</strong>
                                            </span>好楼
                    </li>

                </ul>

            </div>
            <div class="col-xs-12 col-sm-8 profile-name">
                <h2>邓东<span class="pull-right social-profile">
                                            <i class="entypo-facebook-circled"></i>
                                            <i class="entypo-twitter-circled"></i>
                                            <i class="entypo-linkedin-circled"></i>
                                            <i class="entypo-github-circled"></i>
                                            <i class="entypo-gplus-circled"></i>
                </span></h2>
                <hr>

                <dl class="dl-horizontal-profile">

                    <dt>姓名</dt>
                    <dd>邓东</dd>

                    <dt>邮箱</dt>
                    <dd>eko.sulistyo@yahoo.com</dd>

                    <dt>电话</dt>
                    <dd>081 725 xxx</dd>

                    <dt>简介</dt>
                    <dd>牛逼</dd>

                </dl>


                <hr>

                <h5>
                    <span class="entypo-arrows-ccw"></span>&nbsp;&nbsp;活动日志</h5>

                <div class="table-responsive">
                    <table class="table table-hover table-striped table-condensed">

                        <tbody>
                        <tr>
                            <td><i class="pull-right fa fa-edit"></i> Today, 1:00 - Jeff Manzi liked
                                your post.
                            </td>
                        </tr>
                        <tr>
                            <td><i class="pull-right fa fa-edit"></i> Today, 12:23 - Mark Friendo liked
                                and shared your post.
                            </td>
                        </tr>
                        <tr>
                            <td><i class="pull-right fa fa-edit"></i> Today, 12:20 - You posted a new
                                blog entry title "Why social media is".
                            </td>
                        </tr>
                        <tr>
                            <td><i class="pull-right fa fa-edit"></i> Yesterday - Karen P. liked your
                                post.
                            </td>
                        </tr>
                        <tr>
                            <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Philip W. liked your
                                post.
                            </td>
                        </tr>
                        <tr>
                            <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Jeff Manzi liked your
                                post.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--</div>-->
        <!--</div>-->
    </div>
</div>